<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:my_db.sqlite3</property>

        <property name="hibernate.hbm2ddl.auto" >update</property>

        <mapping class="edu.virginia.sde.reviews.Users" />
        <mapping class="edu.virginia.sde.reviews.Courses" />
        <mapping class="edu.virginia.sde.reviews.Reviews" />
    </session-factory>
</hibernate-configuration>
